@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
    color: black !important;
}

.brand-logo, h2 {
    font-family: 'Grand Hotel', cursive;
}

.card-container {
    margin-top: 30px;
}

.auth-card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 30%;
}

.profile-container {
    max-width: 550px;
    margin: 0px auto;
}

.profile-subcontainer {
    display: flex;
    justify-content: space-around;
    margin: 18px auto;
    border-bottom: 1px solid gray;
}

.image-container {
    width: 160px;
    height: 160px;
    border-radius: 80px;
}

.info-container {
    display: flex;
    justify-content: space-around;
    width: 108%;
}
